.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.mt-45{
    margin-top:4.5rem ;
}
.mt-65{
    margin-top:6.5rem ;
}
.mt-152{
    margin-top:15.2rem ;
}
.mb-20{
    margin-bottom: 2rem;
}
.mb-10{
    margin-bottom: 1rem;
}
.mb-85{
    margin-bottom: 8.5rem;
}



