
.section-navbar{
    padding: 4rem 0 4.5rem;
    
}
.section-slider{
    padding:1.5rem 2rem 0;
    background-color: $color-secondary;
    border-top: .6rem solid $color-gray-light;
    border-bottom: 1.2rem solid $color-gray-light;
}
.section-intro{
    padding: 4rem 0;
}